body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #007BFF;
  padding: 1rem; /* Ajustado para evitar espacios laterales */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

  
  .navbar-logo {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  
  .active-link {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.9;
  }
  